name: Tests

on:
  - push
  - pull_request

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
  pytest:
    name: Pytest
    needs: ruff
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Get full python version
        id: full-python-version
        run: |
          echo version=$(python -c "import sys, platform; print('.'.join(str(v) for v in sys.version_info[:3]) + '_' + platform.machine())") >> $GITHUB_OUTPUT
      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: .venv
          key: ${{ runner.os }}-venv-${{ steps.full-python-version.outputs.version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Create virtual environment
        run: python3 -m venv .venv
      - name: Install dependencies
        run: .venv/bin/pip3 install -r requirements.txt
          pip3 install poetry
          poetry config virtualenvs.create true --local
          poetry config virtualenvs.in-project true --local
      - name: Execute tests
        run: make PYTEST=.venv/bin/pytest test
